@page
@model EntApp1.Master.pages.GreetingModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>
</head>
<body>
    @Model.Message;
    
</body>
</html>
