@page
@model EntApp1.Master.pages.taghelpplayModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{

 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>taghelpplay</title>
</head>
<body>


   
    <form  method="post">
        <label for="Winter">
            <input value="Winter" id="Winter" type="radio" asp-for="Season" />
            Winter
        </label>
        <label for="Spring">
            <input value="Spring" id="Spring" type="radio" asp-for="Season" />
            Spring
        </label>
        <label for="Summer">
            <input value="Summer" id="Summer" type="radio" asp-for="Season" />
            Summer
        </label>
        <label for="Autumn">
            <input value="Autumn" id="Autumn" type="radio" asp-for="Season" />
            Autumn
        </label>
        <button type="submit" id="2"  onclick="OnPost()">Submit</button>
       
        <h1>@Model.Message</h1>
       
    </form>

</body>
   
</html>
