@page
@model EntApp1.Master.pages.ws1bModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws1b</title>
</head>
<body>

    <

    <h1>Task 3</h1>
    <form method="post" style="border:1px solid blue; border-radius:2px 3px; width:400px">
        Enter Number 1: <input type="text" name="Number1">
        <br>
        Enter Number 2: <input type="text" name="Number2">
        <br>
        <button id="2" type="submit" onclick="OnPost()">Calculate the sum</button>
        @Html.AntiForgeryToken()
        <h1> @Model.Message </h1>
    </form>

    <h1>Task 4</h1>
    <div>
        <p>
            Enter two numbers, select a math, then click the button.<br>
            The answer will be shown below.
        </p>
        <form>
            1st number: <input type="text" name="number1" id='number1'>
            2nd number: <input type="text" name="number2" id='number2'>
            <br>
            <input type="radio" name="button" id='add'>Add <br>
            <input type="radio" name="button" id='substract'>Subtract <br>
            <input type="radio" name="button" id='multiply'>Multiply <br>
            <input type="radio" name="button" id='division'>Division <br>
            <input type="button" name="calc" onclick="calculate()" value="Calculate"> <br>
        </form>
        <p id="math_res"></p>
    </div>

    <script>
        function calculate() {
            //Obtaining the references to the text inputs
            var number1 = parseInt(document.getElementById('number1').value);
            var number2 = parseInt(document.getElementById('number2').value);

            //Reference of the result Box
            var resultBox = document.getElementById('math_res');
            resultBox.innerHTML = '';

            //Reference of the radio buttons
            var buttonAdd = document.getElementById('add');
            var buttonSubstract = document.getElementById('substract');
            var buttonMultiply = document.getElementById('multiply');
            var buttonDivision = document.getElementById('division');

            //Make the magic
            if (buttonAdd.checked == true) {
                resultBox.innerHTML = number1 + number2
            }
            else {
                if (buttonSubstract.checked == true) {
                    resultBox.innerHTML = number1 - number2
                }
                else {
                    if (buttonMultiply.checked == true) {
                        resultBox.innerHTML = number1 * number2
                    }
                    else {
                        if (buttonDivision.checked == true) {
                            resultBox.innerHTML = number1 / number2
                        }
                    }
                }
            }
        }

    </script>

</body>
</html>